* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  background-color: #292727;
}

.content {
  margin: 20px;
}

.circle {
  background: #c0bcbc;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: relative;
  left: 0;
  /*
    animation-name: white_circle;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 1s;

  */
  animation: white_circle 2s ease-in-out infinite alternate 1s;
}
.circle:hover {
  animation-play-state: paused;
}

@keyframes white_circle {
  0% {
    left: 0px;
  }
  30% {
    border-radius: 50%;
  }
  50% {
    border-radius: 5%;
    background: #c43a3a;
  }
  80% {
    border-radius: 50%;
  }
  100% {
    left: 500px;
  }
}