* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  background-color: #292727;
}
body .content {
  margin: 20px;
  display: flex;
}
body .content .wraper {
  margin-left: 20px;
  background-color: #5a5555;
}
body .content .block {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.75s ease 0s;
}
body .content .block_s {
  flex-direction: column;
  align-content: center;
}
body .content .block h2 {
  color: #c9d3d2;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 18px;
}

.content__translate {
  background-color: #407e64;
}
.content__translate:hover {
  transform: translate(25%, 50%);
}

.content__scale {
  background-color: #5d407e;
}
.content__scale:hover {
  transform: scale(1.25, 0.75);
}

.content__scale__strange {
  background-color: #3f2a57;
}
.content__scale__strange:hover {
  transform: scale(-1, 1);
}

.content__rotate {
  background-color: #b45f19;
}
.content__rotate:hover {
  transform: rotate(90deg);
}

.content__skew {
  background-color: #1c6422;
}
.content__skew:hover {
  transform: skew(-20deg, -10deg);
}

.content__matrix {
  background-color: #1c4da8;
}
.content__matrix:hover {
  transform: matrix(0.75, 0, 0, 1.2, 20, 10);
}

.content__tsr {
  background-color: #a81c62;
}
.content__tsr:hover {
  transform: translate(0, 50%) scale(0.5) rotate(90deg);
}

.content__t-origin {
  background-color: #9aa81c;
  transform-origin: center;
}
.content__t-origin:hover {
  transform: rotate(90deg);
}
.content__t-origin:active {
  transform: translate(-20px, 0) rotate(180deg);
}

.wraper-3d {
  margin-left: 20px;
  height: 100px;
  width: 100px;
  perspective-origin: center;
  perspective: 400px;
  background-color: rgba(255, 255, 255, 0.2);
}
.wraper-3d_hurt {
  background-image: url("../../source/img/pixil-frame-0.png");
}
.wraper-3d:hover .content__perspective {
  transform-origin: left;
  transform: perspective(400px) rotateY(85deg);
}

.content__perspective {
  background-color: #a81c1c;
}
.content__perspective h2 {
  font-size: 12px;
  line-height: 13px;
}

.content__translate-3d {
  background-color: #1ca8a1;
}
.content__translate-3d:hover {
  transform: translate3d(20px, 20px, 50px);
}

.content__scale-3d {
  background-color: #4e173e;
}
.content__scale-3d:hover {
  transform: scale3d(1.2, 1.5, 0.5);
}

.content__rotate-3d {
  background-color: #22333b;
}
.content__rotate-3d:hover {
  transform: rotate3d(1, 1, 1, 180deg);
}

.content__matrix-3d {
  background-color: #223b29;
}
.content__matrix-3d:hover {
  transform: matrix3d();
}

.content__t-r-3d {
  background-color: #3b2722;
}
.content__t-r-3d:hover {
  transform: translate3d(20px, 20px, 50px) rotate3d(1, 1, 1, 45deg);
}

.wraper-3d_s {
  transform-style: preserve-3d;
}
.wraper-3d_s:hover .content__transform-style {
  transform-origin: center;
  transform: perspective(400px) rotateX(45deg);
}

.content__transform-style {
  background-color: #3d3039;
}
.flip__body {
  position: relative;
  width: 100px;
  height: 100px;
  transition: all 1s ease 0s;
  transform-style: preserve-3d;
}

.flip__front,
.flip__back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip__front {
  z-index: 2;
  transform: rotateY(0deg);
  background-color: #b34646;
  backface-visibility: hidden;
}

.flip__back {
  z-index: 1;
  transform: rotateY(-180deg);
  background-color: rgb(87, 77, 218);
}

.flip:hover .flip__body {
  transform: rotateY(-180deg);
}